# Kuma
SERVICE=kuma
PORT=3001

# Traefik
TRAEFIK_HOST=${SERVICE}.localhost
TRAEFIK_PORT=${PORT}
TRAEFIK_SERVICE=${SERVICE}
TRAEFIK_ENTRYPOINTS=web,websecure
TRAEFIK_CERTRESOLVER_LABEL=traefik.http.routers.${TRAEFIK_SERVICE}.tls.certresolver=tlssolver